/* Base styles and resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: var(--color-bg);
  font-family: var(--font-family);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Remove default scrollbars */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
