.room-view {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.ui-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: var(--z-index-ui);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.ui-top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  pointer-events: none;
}

.ui-left {
  pointer-events: auto;
}

.ui-right {
  text-align: right;
  pointer-events: none;
}
